.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  height: 34px;
}

.text-field {
  .MuiFormControl-root
    .MuiTextField-root
    .text-field
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 80%;
  }
  /* .css-1u3bzj6-MuiFormControl-root-MuiTextField-root { */
  /* width: 80%;
  } */
}
